<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resale_include">
	<sql id="search">
		<if test="searchKeyword !=''">
			AND UPPER(SUBJECT) LIKE UPPER('%'|| #{searchKeyword} ||'%') 
		</if>
	</sql>
</mapper>







