<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">
	<select id="getRecentPosts" resultType="hashmap">
		SELECT I.*,R.*
		FROM   (
		        SELECT *
		        FROM 
		            (SELECT 
		                 INFO_IDX, TO_CHAR(INFO_INS_DT,'YYYY-MM-DD HH24:MI:SS') AS INFO_INS_DT ,INFO_CATEGORY,INFO_STATE,INFO_TITLE,INFO_MEM_ID,INFO_FILE_NAME,
		                 ROW_NUMBER() OVER(ORDER BY INFO_IDX DESC) INUM
		             FROM T_INFORM_TABLE
		             WHERE INFO_STATE=1
		        )
		        WHERE INUM BETWEEN 1 AND 2
		    )I,
		    (
		        SELECT *
		        FROM 
		            (SELECT 
		                 RS_IDX, TO_CHAR(REGDATE,'YYYY-MM-DD HH24:MI:SS') AS RS_REGDATE,PRICE AS RS_PRICE,FILENAME AS RS_FILENAME,SUBJECT AS RS_SUBJECT,
		                 MEM_ID AS RS_MEM_ID,
		                 ROW_NUMBER() OVER(ORDER BY RS_IDX DESC) RNUM
		             FROM T_RESALE_BOARD
		        )
		        WHERE RNUM BETWEEN 1 AND 2
		    )R
		 WHERE INUM=RNUM
	</select>
	
	<select id="getCountPosts" resultType="hashmap">
	SELECT DISTINCT
		(SELECT COUNT(INFO_IDX) FROM T_INFORM_TABLE WHERE INFO_STATE=1) AS CNT_INFORM,
		(SELECT COUNT(RS_IDX) FROM T_RESALE_BOARD) AS CNT_RESALE,
		(SELECT COUNT(ROOM_IDX) FROM T_ROOM_BOARD WHERE STATE=1) AS CNT_HOUSE,
		(SELECT COUNT(HIRE_IDX) FROM T_JOB_HIRE) AS CNT_HIRE
	FROM DUAL 
	</select>
</mapper>









